@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

body{

    font-family:'Inter',sans-serif;

}

h1{

    font-size:34px;

    font-weight:700;

}

h2{

    font-size:28px;

}

h3{

    font-size:22px;

}

p{

    color:var(--text-light);

}